* {
  margin: 0;
}

.app {
height: 100vh;
background-color: #fafafa;
}

.app__ModalImage {
  width: 30%;
  object-fit: contain;
}

.app_posts {
padding: 20px;
display: flex;
justify-content: center;
}

.app_postsright {
  margin-left: 20px;
  /* width: ; */
}

.app__signup {
  display: flex;
  flex-direction: column;
}